<style>
    simple-trip-improved .bngApp {
        width: 100%;
        height: 100%;
        cursor: pointer;
    }
    
    simple-trip-improved .bngApp .trip-mode {
        flex-grow: 1;
    }

    simple-trip-improved .bngApp .value-text>span {
        font-weight: bold;
        font-size: 1.2em;
    }

    simple-trip-improved .bngApp .mode-text {
        text-align: center;
    }

    simple-trip-improved .bngApp .reset-icon {
        position: absolute;
        top: 2px;
        right: 2px;
    }
</style>

<div class="bngApp" layout="column">
    <div class="trip-mode" ng-repeat="mode in modes track by $index" layout="column" ng-click="changeMode($index)">
        <div class="value-text" flex layout="column" layout-align="center center">
            <span>{{ mode.text }}</span>
        </div>
        <small class="mode-text">{{ mode.display }}</small>
        <span class="material-icons reset-icon"
              ng-if="$index == 1"
              ng-click="reset($event)">autorenew</span>
    </div>
</div>