<div ng-if="debugData" class="bngApp md-padding arc-debug"
     ng-click="changeModule()">
    <style>
        .arc-debug {
            width: 100%;
            height: 100%;
            overflow-y: hidden;
            display: flex;
            flex-flow: column;
            align-items: stretch;
        }

        .arc-debug .table-wrapper {
            overflow-y: auto;
        }

        .arc-debug .debug-table {
            width: 100%;
        }

        .arc-debug .debug-header {
            padding: 0 4px 12px 4px;
            display: flex;
            align-items: center;
        }

        .arc-debug .debug-header .current-module-name {
            font-weight: bold;
        }

        .arc-debug .debug-header .freezeframe-button {
            display: inline-block;
            margin-left: auto;
            cursor: pointer;
            border: 1px solid rgba(255, 255, 255, 0.5);
            background-color: rgba(255, 255, 255, 0.25);
            padding: 2px 8px;
        }

        .arc-debug .debug-header .freezeframe-button:hover {
            background-color: rgba(255, 255, 255, 0.5);
        }

        .arc-debug .debug-table .debug-key-header {
            text-align: right;
            padding-right: 12px;
        }

        .arc-debug .debug-table .debug-values-header {
            text-align: center;
        }

        .arc-debug .debug-key-header,
        .arc-debug .debug-values-header {
            width: 50%;
        }

        .arc-debug .debug-key {
            font-size: 12px;
            line-height: 14px;
            color: #ccc;
            text-align: right;
            padding-right: 12px;
            width: 50%;
        }

        .arc-debug .debug-value {
            font-size: 12px;
            line-height: 14px;
        }
    </style>

    <div class="debug-header">
        <span class="current-module-name">{{ currentModuleName }}</span>
        <div class="freezeframe-button" ng-click="app.captureFreezeframe($event)">Capture Freezeframe</div>
    </div>
    <table class="debug-table">
        <thead>
            <tr>
                <th class="debug-key-header" style="text-align: right;">Data Point</th>
                <th class="debug-values-header">Values</th>
            </tr>
        </thead>
    </table>
    <div class="table-wrapper">
        <table class="debug-table">
            <tbody>
                <tr ng-repeat="entry in debugData track by entry.id">
                    <td class="debug-key">{{ entry.name }}</td>
                    <td ng-repeat="value in entry.value track by $index"
                        ng-style="{ width: (50 / numValueColumns) + '%' }"
                        class="debug-value"
                        colspan="{{ Math.floor(numValueColumns / entry.value.length) }}">
                        {{ value }}
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>