<div class="arc-hybrid-app bngApp">
    <style>
        @font-face {
            font-family: "Liberation Sans";
            src: url("fonts/LiberationSans-Regular-webfont.woff");
            src: url("fonts/LiberationSans-Regular-webfont.woff") format("woff"),
                url("fonts/LiberationSans-Regular-webfont.ttf") format("truetype");
            font-weight: normal;
            font-style: normal;
        }

        @font-face {
            font-family: "Liberation Sans";
            src: url("fonts/LiberationSans-Bold-webfont.woff");
            src: url("fonts/LiberationSans-Bold-webfont.woff") format("woff"),
                url("fonts/LiberationSans-Bold-webfont.ttf") format("truetype");
            font-weight: bold;
            font-style: bold;
        }

        .arc-hybrid-app {
            transition: opacity 0.5s ease-out;
        }
    </style>
    <object class="hybrid-app-svg" style="width:100%; height:100%; pointer-events: none" type="image/svg+xml"
            data="/ui/modules/apps/ArcanoxHybrid/hybrid-dashboard.svg" />
</div>