<html ng-app="gaugesScreen">

<head>
  <meta charset="UTF-8">
  <script src="/ui/lib/ext/angular/angular.js"></script>
  <script src="gauges_screen.js"></script>
  <link type="text/css" rel="stylesheet" href="gauges_screen.css">
</head>

<body ng-controller="GaugesScreenController as gaugeCtrl">
  <div class="gauge {{units}}" ng-class="{visible: data.gaugesVisible}">
    <div class="center-screen">
      <div class="speed flexCol">
        <div class="speedVal">{{data.speedVal}}</div>
        <div class="speedUnit">{{data.speedUnit}}</div>
      </div>
      <div class="battery-gauge" ng-include="'battery_gauge.svg'" onload="svgLoaded()"></div>
      <div class="temp flexRow">
        <div class="tempVal">{{data.tempVal}}</div>
        <div class="tempUnit">{{data.tempUnit}}</div>
      </div>
      <div class="time flexRow">{{data.time}}</div>
      <div class="consumption flexRow">
        <div class="consumptionVal">{{data.consumptionVal}}</div>
        <div class="consumptionUnit">{{data.consumptionUnit}}</div>
      </div>
    </div>
    <div class="ready-screen" ng-class="{visible: data.ready}">
      <div class="ready-val">READY</div>
    </div>
    <div class="gear-screen">
      <div class="gearVal">{{data.gear}}</div>
    </div>
    <div class="ev-screen">
      <div>{{data.ev}}</div>
    </div>
    <div style="right: 51px; bottom: 18px; position: absolute;" ng-include="'gauges_screen.svg'" onload="svgLoaded()">
    </div>
  </div>
</body>

</html>