@font-face {
  font-family: RobotoBlack;
  src: url(/ui/common/Roboto-Black.ttf);
}

@font-face {
  font-family: Didact;
  src: url(/ui/common/DidactGothic.ttf);
}

body {
  margin: 0;
  padding-top: 0px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  font-family: RobotoBlack;
  font-size: 35px;
  overflow: hidden;
}

.gauge {
  position: absolute;
  bottom: 0;
  right: 0;
  transform-origin: bottom right;
  transform: scale(2, 2);
  width: 50%;
  height: 50%;
  display: flex;
  flex-flow: column;
}

.gauge.visible * {
  opacity: 1;
}

.center-screen {
  margin-top: 16px;
  margin-left: 94px;
  width: 25%;
  height: 100%;
  color: #E6E6E6;
  font-size: 20px;
  font-variant: narrow;
  text-align: center;
  display: inline-flex;
  flex-flow: column;
  align-items: stretch;
  opacity: 0;
  overflow: visible;
  white-space: nowrap;
}

.flexCol {
  display: flex;
  flex-flow: column;
  align-items: center;
}

.flexRow {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
}

.speedVal,
.tempVal,
.time,
.consumptionVal {
  font-family: Didact;
  font-weight: bold;
}

.speed {
  font-size: 30px;
  margin-bottom: 8px;
}

.speedUnit {
  margin-top: -8px;
  font-size: 10pt;
}

.battery-gauge {
  position: relative;
  left: 2px;
}

.battery-gauge svg {
  width: 44px;
  height: 60px;
}

.temp {
  position: relative;
}

.tempUnit {
  width: 0;
  font-size: 10pt;
  position: absolute;
  left: 50%;
  margin-left: 16px;
}

.gauge.metric .tempUnit {
  font-size: 8pt;
  margin-left: 24px;
}

.consumption {
  margin-top: 4px;
  position: relative;
}

.consumptionVal {
  font-size: 20px;
}

.consumptionUnit {
  width: 0;
  font-size: 10pt;
  position: absolute;
  left: 50%;
  margin-left: 24px;
}

.gauge.metric .consumptionUnit {
  font-size: 8pt;
  margin-left: 24px;
}

.right-screen {
  width: 50%;
  margin-top: -60px;
}

.ready-screen {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  right: 204px;
  bottom: 78px;
  border: 2px solid #4EFF4E;
  border-radius: 4px;
  height: 12px;
  padding: 0 2px;
  color: #4EFF4E;
  font-weight: bold;
  font-size: 8pt;
  text-align: center;
  line-height: 24px;
}

.ready-screen:not(.visible) {
  opacity: 0;
}

.gear-screen {
  position: absolute;
  right: 152px;
  bottom: 65px;
  border:2px solid #E6E6E6;
  width: 40px;
  height: 25px;
  color: #E6E6E6;
  font-weight:bold;
  font-size:20px;
  text-align: center;
  line-height: 25px;
}

.ev-screen {
  position: absolute;
  right: 120px;
  bottom: 76px;
  width: 24px;
  height: 24px;
  color: #4EFF4E;
  font-weight: bold;
  font-style: italic;
  font-size: 12px;
  text-align: center;
  line-height: 24px;
}

.gearVal {
  opacity: 0;
}

.efficiencyGauge {
  position: relative;
  margin-left: 53px;
  margin-top: -325px;
  transform: rotate(109deg);
  transform-origin: 50%, 50%;
}

.efficiencyBar {
  transform-origin: 50%, 50%;
  opacity: 0;
}

.efficiency {
  stroke-dasharray: 339.292;
  stroke-dashoffset: -271;
}