<div ng-if="tuningModules" class="bngApp md-padding arc-quick-tuning">
    <style>
        .arc-quick-tuning {
            overflow-y: hidden;
            display: flex;
            flex-flow: column;
            align-items: stretch;
        }

        .arc-quick-tuning .app-wrapper {
            overflow-y: auto;
        }

        .arc-quick-tuning,
        .arc-quick-tuning .app-wrapper,
        .arc-quick-tuning {
            width: 100%;
            height: 100%;
        }

        .arc-quick-tuning .button {
            display: inline-block;
            cursor: pointer;
            border: 1px solid rgba(255, 255, 255, 0.5);
            background-color: rgba(255, 255, 255, 0.25);
            padding: 2px 8px;
        }

        .arc-quick-tuning .button:hover {
            background-color: rgba(255, 255, 255, 0.5);
        }
        
        .arc-quick-tuning .params-module {
            width: 100%;
        }
        
        .arc-quick-tuning .params-module:not(:first-child) {
            margin-top: 32px;
        }

        .arc-quick-tuning .params-header {
            padding: 0 4px 4px 4px;
            display: flex;
            align-items: center;
        }

        .arc-quick-tuning .params-header .module-name {
            font-size: 12pt;
            font-weight: bold;
        }

        .arc-quick-tuning .params-header .reset-all-button {
            margin-left: auto;
        }

        .arc-quick-tuning .params-table {
            width: 100%;
            padding: 8px;
            border-collapse: collapse;
        }

        .arc-quick-tuning .params-table * {
            box-sizing: border-box;
        }

        .arc-quick-tuning .params-table th,
        .arc-quick-tuning .params-table td {
            white-space: nowrap;
        }

        .arc-quick-tuning .params-table .params-key-header,
        .arc-quick-tuning .params-table .params-slider-header {
            font-size: 12pt;
        }
        
        .arc-quick-tuning .params-table .params-key-header {
            text-align: left;
        }

        .arc-quick-tuning .params-table .params-slider-header,
        .arc-quick-tuning .params-table .params-slider {
            width: 99%;
        }
        
        .arc-quick-tuning .params-table .params-slider md-slider {
            margin-top: -8px;
            margin-bottom: -8px;
        }

        .arc-quick-tuning .params-reset-header {
            width: 32px;
        }

        .arc-quick-tuning .params-key {
            font-size: 12px;
            line-height: 14px;
            color: #ccc;
            padding-right: 12px;
        }

        .arc-quick-tuning .params-value input {
            background-color: white;
            font-size: 16px;
            line-height: 24px;
            text-align: right;
            width: 120px;
        }
    </style>

    <div class="app-wrapper">
        <div class="params-module" ng-repeat="module in tuningModules | orderBy: 'name' track by module.name">
            <div class="params-header">
                <span class="module-name">{{ module.name }}</span>
                <div class="button reset-all-button" ng-click="resetValues($event, module)">Reset All</div>
            </div>
            <table class="params-table">
                <thead>
                    <tr>
                        <th class="params-key-header">Parameter</th>
                        <th class="params-slider-header">Value</th>
                        <th class="params-value-header"></th>
                        <th class="params-reset-header"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="param in module.parameters | orderBy: 'id' track by param.id">
                        <td class="params-key">{{ param.name }}</td>
                        <td class="params-slider">
                            <md-slider ng-model="param.clampedValue"
                                       ng-change="parameterChanged(module, param)"
                                       min="{{ ::param.min }}" max="{{ ::param.max }}" step="{{ ::param.step }}">
                            </md-slider>
                        </td>
                        <td class="params-value">
                            <input ng-model="param.value" ng-model-options="{allowInvalid: true}"
                                   ng-change="parameterChanged(module, param)" type="number"
                                   min="{{ ::param.min }}" max="{{ ::param.max }}" step="{{ ::param.step }}">
                        </td>
                        <td>
                            <div class="button reset-button" ng-click="resetValue($event, module, param)">
                                <span class="material-icons">replay</span>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>